@import url('../colors.css');

.container {
  padding: 3rem 1rem 1rem;
  text-align: center;
  width: 100%;
}

.title {
  font-size: 60px;
  font-weight: 500;
}

.description {
  font-weight: 500;
  font-size: 28px;
  margin-top: 1rem;
}

.text {
  color: var(--text);
  font-size: 22px;
  margin-top: 1rem;
}

.btn {
  border: none;
  background-color: var(--main);
  padding: 0.6rem 1.5rem;
  color: #fafafa;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 18px;
}
