.navbar {
  position: fixed;
  top: 0;
  left: -100%;
  background-color: var(--background);
  width: 80%;
  height: 100%;
  transition: all 0.5s;
  z-index: 10;
}

.navbarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--light-gray);
}


