@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.links {
  padding: .5rem 0;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  width: 780px;
  margin: 0 auto;
}

.linksItem {
  padding: 0.5rem 0;
}

@media (max-width: 800px) {
  .links {
    display: none;
  }
}